body {
  margin-top:0 !important;
  padding-top:0 !important;
}

main {
  min-width: 1024px;
  margin: 0 auto;
  /* min-height: 830px;
  max-height: 1472px; */
}

a {
  text-decoration: none;
  color: initial;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

li {
  /* float: left; */
  display: inline-block;
}

nav {
  position: relative;
  margin: 0 auto;
  width: 980px;
  height: 36px;
  top: -600px;
  /* left: 25px; */
  background: linear-gradient(#7b7a7b 0%, #717171 50%, #5e5e5e 51%, #717571 100%);
  border-radius: 4px 4px;
  box-sizing: border-box;
}

nav ul {
  width: 865px;
  display: flex;
  /* float: left; */
}

nav li {
  width: 106px;
  /* height: 36px;  */
  border-image: url(../img/menu\ li\ separator.png) 0 2 0 1 stretch stretch;
  border-right: solid 1px white;
}

nav a {
  background: url(../img/icon\ set.png);
}

section a {
  display: block;
}

header a {
  overflow: hidden;
  position: relative;
  display: block;
}

footer a {
  border-width: medium;
  border-style: none;
  margin: 0;
  padding: 0;
  border-color: white;
  color: #08c;
}

nav li a {
  display: block;
  padding: 8px;
}

h1,
h2,
h3 {
margin:0;
}
header h1 a {
  background: url(../img/what\ will\ your\ verse.png)  no-repeat;
  background-size: 69%;
  height: 80px;
  top: 150px;
  left: 170px;
}

header h2 a {
  background: url(../img/everyone\ has\ something.png)  no-repeat;
  height: 80px;
  top: 145px;
  left: 20px;
}


header h3 a {
  background: url(../img/watch\ the\ low.png)  no-repeat;
  height: 35px;
  top: 160px;
  left: 20px;
}

nav li:nth-child(1) a {
  background-position: 50% 3px;
}

nav li:nth-child(2) a {
  background-position: 50% -27px;
}

nav li:nth-child(3) a {
  background-position: 50% -57px;
}

nav li:nth-child(4) a {
  background-position: 50% -87px;
}

nav li:nth-child(5) a {
  background-position: 50% -117px;
}

nav li:nth-child(6) a {
  background-position: 50% -147px;
}

nav li:nth-child(7) a {
  background-position: 50% -177px;
}

nav li:nth-child(8) a {
  background-position: 50% -207px;
}

header span,
nav a span {
  display: inline-block;
  text-indent: -9999px;
}

nav > div {
  width: 110px;
  float: left;
  padding: 8px 13px 8px 0;
  box-sizing: border-box;
  margin: 0;
}

nav div input {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  color: rgb(255, 255, 255);
  height: 19px;
  border-radius: 12px 12px;
  border-width: 1px;
  border-style: none;
  padding: 2px 32px 1px 22px;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.0976562);
  box-shadow: rgba(0, 0, 0, 0.6) 0 1px 1px inset, rgba(255, 255, 255, 0.2) 0 1px 0;
}

nav div div {
  background: url(../img/search-icon.svg) no-repeat;
  background-size: 80%;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 13px;
  right: 95px;
}

section {
  background: url(../img/background.jpg) 50% 100% no-repeat;
  width: 1440px;
  margin: 0 auto;
  height: 688px;
  background-size: 1440px 1315px
  
}

header h3 a:hover {
  background: url(../img/watch\ the\ low.png) 0 -32px no-repeat;
}

aside {
  position: relative;
  clear: both;
  /* box-sizing: border-box; */
  width: 1440px;
  margin: 0 auto;
  top: -70px;
  
 }

aside ul {
  display: flex;
  /* flex-wrap: wrap; */
}
aside li {
   flex: 1;

  /* position: relative; */
}

footer {
  font: normal normal normal 12px/18px 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
  color: rgb(110, 110, 110);
  font-size: 10px;
  line-height: 1.2;
  height: 90px;
  padding-top: 15px;
  padding-left: 15px;
}

footer > * {
  padding-top: 1em;
}

footer div:first-child {
  float: left;
  width: 45%;
}

footer ul {
  width: 52%;
  padding-left: 0;
}

footer li {
  border-left-color: rgb(204, 204, 204);
  border-width: medium medium medium 1px;
  border-style: none none none solid;
  margin: 0 0 0 0.6em;
  padding: 0 0 0 0.6em;
}

footer ul li:first-child {
  border: none;
}

a.icon {
  background: url(../img/flag.png) 50% 50% no-repeat;
  background-size: 80%;
  height: 16px;
  width: 16px;
  display: inline-block;
}

footer div span {
  float: left;
  padding-top: 15px;
}

footer div span + ul {
  padding-top: 8px;
}
